@charset "UTF-8";
/* 
&display=swap
&display=swap&subset=cyrillic-ext    -  если нужна кирилца
 */
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:regular,500,600,700,800,italic,500italic,600italic,700italic,800italic&display=swap&subset=cyrillic-ext");
/* ====================== Обнуление ====================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 20px;
}

[class*=__container] {
  max-width: 1370px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  color: rgba(255, 217, 0, 0.8823529412);
  font-family: "EB Garamond", Arial, Helvetica, sans-serif;
  background: black url(../images/thron.jpg) center/cover no-repeat;
  line-height: 1.5;
}

a {
  color: inherit;
}

.header {
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 217, 0, 0.568627451);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 10px;
}
@media (max-width: 767.98px) {
  .header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.logo__img {
  width: 100px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-family {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
@media (max-width: 767.98px) {
  .menu-family {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 10px;
  }
}
.menu-family__item {
  padding: 10px 15px;
  border: 2px solid transparent;
  text-shadow: -1px -1px black;
  font-size: 16px;
  text-transform: uppercase;
}
.menu-family__item:hover {
  border: 2px solid rgba(255, 217, 0, 0.568627451);
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.607);
          box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.607);
}
.menu-family__item.active {
  background-color: rgba(0, 0, 0, 0.607);
  border: 2px solid rgba(255, 217, 0, 0.568627451);
  border-radius: 3px;
}

.main {
  background-color: rgba(0, 0, 0, 0.574);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.lords {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lords__names {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}
.lords__list {
  display: none;
}
.lords__list.active {
  display: block;
}
.lords__name {
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 217, 0, 0.568627451);
          box-shadow: 0px 0px 10px 0px rgba(255, 217, 0, 0.568627451);
  margin-bottom: 20px;
}
.lords__link {
  display: block;
  border: 2px solid transparent;
  padding: 10px 15px;
  font-size: 16px;
}
.lords__link:hover {
  border: 2px solid rgba(255, 217, 0, 0.568627451);
}
.lords__link.active {
  border: 2px solid rgba(255, 217, 0, 0.568627451);
  border-radius: 3px;
}
.lords__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
}
.lord {
  display: none;
  padding-left: 20px;
}
.lord > *:not(:last-child) {
  margin-bottom: 30px;
}
.lord.active {
  display: block;
}
.lord__text-block > *:not(:last-child) {
  margin-bottom: 30px;
}
.lord__title {
  font-size: 30px;
}