@charset "UTF-8";
/* 
&display=swap
&display=swap&subset=cyrillic-ext    -  если нужна кирилца
 */

 @import url("https://fonts.googleapis.com/css?family=EB+Garamond:regular,500,600,700,800,italic,500italic,600italic,700italic,800italic&display=swap&subset=cyrillic-ext");
 
/* ====================== Обнуление ====================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 20px;
}

[class*="__container"] {
   max-width: 1370px;
   padding: 0 15px;
   margin: 0 auto;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
// =====================================================================


body {
   color: #ffd900e1;
   font-family: "EB Garamond", Arial, Helvetica, sans-serif;
   background: black url(../images/thron.jpg) center / cover no-repeat;
   line-height: 1.5;
}
a {
   color: inherit;
}
.header {
   padding: 20px 0;
   border-bottom: 1px solid #ffd90091;
   // .header__container

   &__container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      row-gap: 10px;

      @media (max-width: 767.98px) {
         justify-content: center;
      }
   }

   // .header__logo
   &__logo {
   }

   // .header__menu
   &__menu{
      
   }
}

.logo {

   &__img {
      width: 100px;
      height: 50px;
      object-fit: cover;
   }
}

.menu-family {
   
   display: flex;
   flex-wrap: wrap;
   column-gap: 5px;

   @media (max-width: 767.98px) {
      justify-content: center;
      row-gap: 10px;
   }

   // .menu-family__item
   &__item{
      padding: 10px 15px;
      border: 2px solid transparent;
      text-shadow: -1px -1px black;
      font-size: 16px;
     
      text-transform: uppercase;


      &:hover {
     
         border: 2px solid #ffd90091;
         border-radius: 3px;
         box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.607);
      }
   }

   // .menu-family__item
   &__item.active{
      background-color: rgba(0, 0, 0, 0.607);
      border: 2px solid #ffd90091;
      border-radius: 3px;
   }
}


// =================================================================================


.main {
   background-color: rgba(0, 0, 0, 0.574);
   flex: 1 1 auto;

   // .main__container
   &__container {
   }

   // .main__lords
   &__lords {
   }
}

.lords {
   padding: 20px 0;
   display: flex;

   // .lords__names
   &__names {
      flex: 0 1 20%;
      
   }

   // .lords__list
   &__list {
      display: none;

      &.active {
         display: block;
      }
   }

   // .lords__name
   &__name {
      text-transform: uppercase;
      box-shadow: 0px 0px 10px 0px #ffd90091;
      margin-bottom: 20px;
  }

   // .lords__link
   &__link {
      display: block;
      border: 2px solid transparent;
      padding: 10px 15px;
      font-size: 16px;

      &:hover {
         border: 2px solid #ffd90091;
      }

      &.active {
         border: 2px solid #ffd90091;
         border-radius: 3px;
      }
   }

   // .lords__content

   &__content {
      flex: 1 1 80%;
   }

   // .lords__info

   &__info {
   }
}


.lord {
   display: none;
   padding-left: 20px;

   &> *:not(:last-child) {
      margin-bottom: 30px;
   }

   &.active {
      display: block;
   }

   // .lord__text-block

   &__text-block {
      &> *:not(:last-child) {
         margin-bottom: 30px;
      }
   }

   // .lord__title

   &__title {
      font-size: 30px;
   }

   // .lord__text

   &__text {
   }

   // .lord__image

   &__image {
   }

   // .lord__img

   &__img {
   }
}
