@charset "UTF-8";
/* 
&display=swap
&display=swap&subset=cyrillic-ext    -  если нужна кирилца
 */

 @import url("https://fonts.googleapis.com/css?family=EB+Garamond:regular,500,600,700,800,italic,500italic,600italic,700italic,800italic&display=swap&subset=cyrillic-ext");
 
/* ====================== Обнуление ====================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 20px;
}

[class*="__container"] {
   max-width: 100%;
   padding: 0 50px;
   margin: 0 auto;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
// =====================================================================


body {
   color: #ffd900e1;
   font-family: "EB Garamond", Arial, Helvetica, sans-serif;
   background: black url(../images/thron.jpg) center / cover no-repeat;
   line-height: 1.5;
}

a {
   color: inherit;
}

.header {
   padding: 20px 0;
   border-bottom: 1px solid #ffd90091;
   // .header__container

   &__container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      @media (max-width: 767.98px) {
         padding: 0 15px;
         justify-content: center;
      }
   }

   // .header__logo
   &__logo {
   }

   // .header__menu
   &__menu{
      
   }
}

.logo {
   transition: 0.3s ease;
   &:hover {

      transform: scale(1.2);
   }

   &__img {
      width: 100px;
      height: 50px;
      object-fit: cover;
   }
}

.menu-family {
   
   display: flex;
   flex-wrap: wrap;
   column-gap: 5px;

   @media (max-width: 767.98px) {
      justify-content: center;
      row-gap: 10px;
   }

   // .menu-family__item
   &__item{
      padding: 10px 15px;
      border: 2px solid transparent;
      text-shadow: -1px -1px black;
      font-size: 16px;
     
      text-transform: uppercase;


      &:hover {
     
         border: 2px solid #ffd90091;
         border-radius: 3px;
         box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.607);
      }
   }

   // .menu-family__item
   &__item.active{
      background-color: rgba(0, 0, 0, 0.607);
      border: 2px solid #ffd90091;
      border-radius: 3px;
   }
}


// =================================================================================


.main {
   background-color: rgba(0, 0, 0, 0.574);
   flex: 1 1 auto;

   // .main__container
   &__container {

      @media (max-width: 767.98px) {
         padding: 0 15px;
      }
   }

   // .main__lords
   &__lords {

   }
}

.lords {
   padding: 20px 0;
   display: flex;

   @media (max-width: 767.98px) {
        flex-direction: column;
   }

   // .lords__names
   &__names {
      flex: 0 1 20%;

      @media (max-width: 767.98px) {
         align-self: center;
         background-color: none;

      }
   }

   // .lords__list
   &__list {
      display: none;

      &.active {
         display: flex;
         flex-direction: column;

         @media (max-width: 767.98px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 20px;
         }
      }
   }

   // .lords__name
   &__name {
      text-transform: uppercase;
      box-shadow: 0px 0px 10px 0px #ffd90091;
      margin-bottom: 20px;
      text-align: center;
  }

   // .lords__link
   &__link {
      display: block;
      border: 2px solid transparent;
      padding: 10px 15px;
      font-size: 16px;
      text-shadow: 1px 1px #000000;

      &:hover {
         border: 2px solid #ffd90091;
         background-color: rgba(0, 0, 0, 0.619);
      }

      &.active {
         border: 2px solid #ffd90091;
         background-color: rgba(0, 0, 0, 0.699);
      }
   }

   // .lords__content
   &__content {
      flex: 1 1 80%;
   }

   // .lords__info
   &__info {
      display: none;

      &.active {
         display: block;
      }
   }
}


.lord {
   display: flex;
   margin: 0 -15px;
   margin-left: 40px;

   &> *:not(:last-child) {
      margin-bottom: 30px;
   }

   @media (max-width: 991.98px) {
      flex-direction: column;
      margin-left: 10px;
   }
   @media (max-width: 767.98px) {
      margin: 0 0 30px 0;
   }

   // .lord__text-block
   &__text-block {
      flex: 0 1 50%;
      margin: 0 15px;

      &> *:not(:last-child) {
         margin-bottom: 30px;
      }

      @media (max-width: 991.98px) {
         flex: 1 1 100%;
      }
      @media (max-width: 767.98px) {
         margin: 0;

         &> *:not(:last-child) {
            margin-bottom: 15px;
         }
      }
   }

   // .lord__title
   &__title {
      font-size: 30px;
   }

   // .lord__text

   &__text {
   }

   // .lord__image
   &__image {
      flex: 0 1 50%;
      align-self: flex-start;
      margin: 0 15px;
      box-shadow: 0px 0px 5px 2px #ffd90091;
      padding: 10px;

      @media (max-width: 991px) {
         width: 60%;
         align-self: center;
      }
      @media (max-width: 424.98px) {
         width: 100%;
         margin: 0;
      }
   }

   // .lord__img
   &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;

      border-radius: 2px;
      box-shadow: 0px 0px 5px 1px black;
   }

}
